header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
ul li {
  list-style: none;
  margin: 0 10px;
  display: inline;
}
ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
ul li a:hover {
  color: red;
  border-bottom: 2px solid red;
}

footer {
  background-color: lightgray;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  gap: 20px;
  background-color: lightblue;
  margin-top: 100px;
  padding: 20px;
}

.column {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.column:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  text-align: center;
  background-color: white;
  margin: 10% auto;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-form input {
  width: 50%;
  font-size: 1rem;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
/* modal submit button */
.modal-form input[type="submit"] {
  background-color: rgba(255, 0, 0, 0.808);
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.modal-form input[type="submit"]:hover {
  background-color: rgba(0, 128, 0, 0.943);
}

.about-close-button {
  float: right;
  cursor: pointer;
  font-size: 2rem;
}
.driver-close-button {
  float: right;
  cursor: pointer;
  font-size: 2rem;
}
.request-close-button {
  float: right;
  cursor: pointer;
  font-size: 2rem;
}
