/* Style the header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Style the side bar */
.sidebar {
  background-color: #f2f2f2;
  height: 100%;
  position: fixed;
  padding: 16px;
  text-align: center;
  width: 200px;
}

/* Style the sidebar button */
.sidebar button {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  margin: 12px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

/* Style the sidebar button on hover */
.sidebar button:hover {
  background-color: #3e8e41;
}

/* Style the main content */
.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: end;
  align-items: start;
  /* gap: 20px; */
  /* margin-left: 200px; */
  padding: 16px;
  /* text-align: center; */
}
.module {
  background-color: #f2f2f2;
  text-align: center;
  width: 180px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* transition: 0.3s; */
  border-radius: 5px;
  /* padding: 16px; */
  /* margin: 10px; */
}
.module:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* Style the active button */
.active {
  background-color: #4caf50;
  color: white;
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
